footer

	.column-wrapper

		.first-column
			a
				img.logo(src='images/logo.png')/ #[span.title South Park] Studios

			.rights-container
				p &#169;2015 South Park Digital Studios LLC. #[br/] All Rights Reserved.

				p South Park &#169;2015 Comedy Partners. #[br/] All Rights Reserved. Comedy Central.

				p South Park and all related #[br/] titles, logos and characters are trademarks of Comedy #[br/] Partners.

			.credits
				a WEB CREDITS
				a PRIVACY POLICY /
				a YOUR PRIVACY RIGHTS
				a SHOW DISCLAIMER
				a COPYRIGHT POLICY
				a TERMS OF USE
				a VIDEO PRIVACY TERMS
				a TECH SUPPORT
				a CLOSED CAPTIONING
				a FEEDBACK
				a AD CHOICES #[img.choices(src='images/choices.png')]

		.second-column

			.video
				h4 VIDEO

			.wiki
				h4 WIKI
				a The T-Shirt Factory
				a Broflovski Residence
				a Kenny McCormick
				a List of Characters
				a Douche and Turd

		.third-column

			.blog
				h4 BLOG
				a Happy Saint Patrick&#39;s Day!
				a &#34;Marsh Madness&#34; Clip Collection!
				a Comedy Central Presents Colossal Clusterfest!
				a Season 20 Clip Collection!
				a All-New &#34;Heartache And Heartbreak&#34; clip collection!

			.general
				h4 GENERAL
				a Creator Bios
				a Cast &#38; Crew Credits

			img.viacom(src='images/viacom.png')

	.bottom-foot

		.social
			img(src="images/fb.png")
			img(src="images/twitter.png")
			img(src="images/mail.png")
			img(src="images/google-plus.png")