header
	.top-header
		nav
			a
				img.logo(src='images/logo.png')/ #[span.title South Park] Studios
			ul
				li
					a(href="#") Full Episodes
				li
					a(href="#") Wiki
				li
					a(href="#") Blog
				li
					a(href="#") More

			span
				img.zoom(src='images/zoom.png')
				img.hamburger(src='images/hamburger.png')

				span Stranger #[br/]
					a.sign-in(href="#") Sign in, buddy.
				img.buddy(src='images/buddy.png')
