doctype html

block vars

html(lang="en")
	head
		title= pageName
		link(rel="stylesheet" type="text/css" href="styles/main.css")
	body
		div.container

			include header.pug

			block content

			include footer.pug