footer
	height: 600px
	background: $black
	padding-top: 60px


	div.first-column
		margin: 0px 70px

		a
			color: $white
			text-transform: uppercase

			.logo
				height: 20px
				margin-bottom: -3px
				margin-right: 5px
			span
				font-weight: bold

		.rights-container, .credits
			padding: 20px

			p
				color: $white
				width: 140px
				font-size: 10px
				margin: 20px 0px


		.credits
			color: $white
			a
				display: block
				font-size: 8px
				margin: 8px 0px
				img


	.bottom-foot
		margin-top: 20px
		height: 100px
		border-top: 1px solid $red
