.blog-content
	height: 1000px
	background: $white

	.side-panel
		margin-top: 50px
		float: right
		padding-right: 60px


		h3
			margin-bottom: 20px

		ul
			li
				padding-left: 10px
				width: 270px
				border-top: 1px solid $randomTop
				a
					font-size: 14px
					line-height: 50px
				a:visited
					color: $black
				a:link
					color: $black

					img
						height: 12px
						position: relative
						float: right
						margin: 17px 10px